html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #fafafa;
}

header {
  background-color: #5e5d5b;
  background-image:  #2d2d2d;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

#results-section, #details-section, #watchlist-section, #favorites-section {
  margin-bottom: 20px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}

main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-section {
  margin-bottom: 20px;
  width: 70%;
}

#search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}

#search-button, #home-button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #3897f0;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
}

.favorites-list, .watchlist-list, #movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.favorites-list li, .watchlist-list li, #movie-list li {
  list-style-type: none;
  margin: 2px;
  width: calc(33% - 4px);
  text-align: center;
}

#movie-list img, .favorites-list img, .watchlist-list img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.button {
  padding: 8px 12px;
  margin: 4px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #3897f0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #3076ab;
}

@media (max-width: 991px) {
  body {
    margin: 0;
    padding: 0;
  }

  #search-input {
    width: 90%;
    padding: 5px;
  }

  #search-section, #results-section, #details-section, #favorites-section, #watchlist-section {
    width: 100%;
    padding: 10px;
  }

  .button {
    padding: 4px 6px;
    font-size: 8px;
  }
}

#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  cursor: pointer;
  padding: 10px;
  background-color: #3897f0;
  color: #fff;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

#back-to-top-btn:hover {
  background-color: #3076ab;
}

.button.trailer {
  background-color: #3897f0;
  color: #fff;
  text-decoration: none;
}

.button.trailer:hover {
  background-color: #3076ab;
}
