body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

#results-section {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}
#details-section{margin-bottom: 20px;
    padding: 20px;
    border: 3px solid #9f0f0f;}
    

    #watchlist-section,#favorites-section{margin-bottom: 20px;
        padding: 20px;
        border: 3px solid #810b0b;}


        main {
            padding: 20px;
        }
        
        #search-section {
            margin-bottom: 20px;
        }
        
        #search-input {
            width: 70%;
            padding: 10px;
        }
        
        #search-button,#home-button {
            padding: 10px 20px;
            margin-left: 10px;
        }
.favorites-list,
.watchlist-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.favorites-list li,
.watchlist-list li {
    list-style-type: none;
    margin: 10px;
    width: 100px; 
    text-align: center;
}

#movie-list img {
    width: 200px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#movie-list li {
    list-style-type: none;
    margin: 10px;
    width: 200px;
    text-align: center;
}
.button {
    display: inline-block;
    padding: 8px 12px;
    margin: 4px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background-color: #333;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #555;
}

.button.favorite {
    background-color: #000000;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.button.watchlist {
    background-color: #a71414;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.button.remove {
    background-color: #f44336;
}

.favorites-list,
.watchlist-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.favorites-list li,
.watchlist-list li {
    list-style-type: none;
    margin: 10px;
    width: 100px; 
    text-align: center;
}

.favorites-list img,
.watchlist-list img {
    width: 100px; 
    height: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#movie-list li {
    list-style-type: none;
    margin: 10px;
    width: 200px;
    text-align: center;
}

@media (max-width: 768px) {
    body {
      margin: 0;
      padding: 0;
    }

    #search-input {
        width: 90%; 
        padding: 5px; 
    }

    #search-button,#home-button {
        padding: 5px 10px; 
    }
  
    #search-section, #results-section, #details-section, #favorites-section, #watchlist-section {
      width: 100%;
      padding: 10px; 
    }

    #movie-list img {
        width: 100px;
        max-width: 100px; 
    }

    #movie-list li, .favorites-list li, .watchlist-list li {
        margin: 5px; 
        width: calc((100% / 3) - 10px); 
        font-size: 6px;
    }

    .button {
        padding: 4px 6px; 
        font-size: 12px; 
    }

    .favorites-list li,
    .watchlist-list li {
        width: 30%; 
    }

    .favorites-list img,
    .watchlist-list img {
        width: 100%; 
        max-width: 75px;
    }
}

#back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    cursor: pointer;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  #back-to-top-btn:hover {
    background-color: #555;
  }
  
